.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #27374d; /* 2c71ae;*/
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.links a {
  display: inline-block;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 30px;
}

.imgStorage {
  text-align: left;
}

.logo {
  outline: 4px solid #000000;
  margin-top: 10px;
  width: 100px;
}

.links {
  margin-left: auto;
  font-family: "Trebuchet MS", sans-serif;
}

.webTitle {
  left: 0;
}

.appname {
  font-size: 2em;
  font-family: "Trebuchet MS", sans-serif;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 1em;
}
