.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #27374d; /* 2c71ae;*/
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.imgStorage {
  text-align: left;
}

.logo {
  outline: 5px solid #000000;
  margin-top: 10px;
  width: 100px;
}

.links {
  margin-left: auto;
  font-family: "Trebuchet MS", sans-serif;
}

.webTitle {
  left: 0;
}

.appname {
  font-size: 80px;
  font-family: "Trebuchet MS", sans-serif;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 35px;
}
